@using eShop.webui.aspnetmvc.Views.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model eShop.webui.aspnetmvc.Views.ViewModels.ProductViewModel
@{
   
}
<p class="bg-primary">welcome @ViewBag.Name</p>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            categories will come
        </div>
        <div class="col-md-10">
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-md-4">
                        <div class="card">
                            <img src="@product.ImageUrl"/>
                            <p class="card-header">@product.Price</p>

                        <p class="card-body">@product.Name</p>
                        <p class="card-body">@product.Description</p>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>